.App {

font-family: 'Clicker Script', cursive;
background-color: #ff00ff;
  color: white;
}

.App-header {
  background-color: black;
  height: 250px;
  padding: 10px;
  font-family: 'Arizonia', cursive;
  color: #b8860b;

}
.lydia{
  text-align: right;
  height: 50px;
}

.title {
  text-align: left;
  height: 80px;
  color: #b8860b;
  font-weight: bold;

  font-size: 4em;
}

.App-intro {
  text-align: center;
  font-size: large;
}
.facebook{
  text-align: right;
}


p {
  text-align: left;
  margin: 20px;
  font-family: 'Clicker Script', cursive;
  font-size: 25px;
}

.button1 {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}
.button2 {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  color: #008CBA;
}
.button3 {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  color: #008CBA;
}
.pics {
  padding: 25px;
  margin: 25px;
}


.scheduler {
  height: 100px;
  width: 100px;
  text-align: center;

}

.services {
  text-align: center;
}
