.App {

  font-family: fantasy;
  background-color: Black;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: right;
  background-color: #FF1493;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-intro {
  text-align: center;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

p {
  text-align: left;
  margin: 20px;
}

.button1 {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}
.button2 {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  color: #008CBA;
}
.button3 {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  color: #008CBA;
}
.pics {
  padding: 25px;
  margin: 25px;
}

.tabs{
  /* position:fixed;
  top:300px;
  text-align: center;
  margin: 30px; */
}
.scheduler {
  height: 100px;
  width: 100px;
  text-align: center;

}

.services {
  text-align: center;
}

.facebook {
  .btn-facebook {
	color: #fff;
	background-color: #4C67A1;
}
.btn-facebook:hover {
	color: #fff;
	background-color: #405D9B;
}
.btn-facebook:focus {
	color: #fff;
}
}

.cerveza{
  text-align: center;
}
.sheers {
  text-align: left;
}
